@model CatWool.ViewModels.ProductViewModel
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thêm Sản Phẩm</h2>

@using (Html.BeginForm("AddProduct", "Sale"))
{
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(m =>m.NameProduct)
        @Html.TextBoxFor(m=>m.NameProduct,new {@class="form-control"})
        @Html.ValidationMessageFor(model =>model.NameProduct,"",new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Size,"Kích Thước")
        @Html.DropDownListFor(m => m.Size, new SelectList(Model.Sizes, "Id","Name"), "", new {@class="form-control"})
        @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m =>m.Describe,"Mô Tả")
        @Html.TextBoxFor(m=>m.Describe,new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m =>m.Price,"Đơn Giá")
        @Html.TextBoxFor(m=>m.Price,new {@class="form-control"})
        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m =>m.PricePromotion,"Đơn Giá Khuyến Mãi")
        @Html.TextBoxFor(m=>m.PricePromotion,new {@class="form-control"})
        @Html.ValidationMessageFor(model => model.PricePromotion, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m =>m.Image,"Hình Sản Phẩm")
        @Html.TextBoxFor(m=>m.Image,new {@class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m =>m.Status,"Tình Trạng")
        @Html.DropDownListFor(m => m.Status, new SelectList(Model.Statuses, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
    </div>
    <button type="submit" value="Save" class="btn btn-primary">Lưu</button>

}