@model CatWool.Models.Product
@{
    ViewBag.Title = "DetailsUser";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>DetailsUser</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Describe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Describe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePromotion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePromotion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Image)" width="95" title="image"/>
        </dd>

       

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" class="btn btn-danger" onclick="AddToCart('Id')"
                   value="Thêm giỏ hàng"/>
        </p>
        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
@section Scripts{
    <!--Gio Hang-->>
    <script>
        function AddToCart(id) {
            $.ajax({
                type: 'POST',
                url: '/Home/AddToCart',
                data: { id: id },
                success: function(data) {
                    $("#Cart_Amount").html(data.ItemAmount);
                }
            });
        }
    </script>
}

